main {
  padding: 0 2em;
}

main article {
  padding-left: 1.5em;
  border-left: 6px solid var(--color-primary-50);
}

main > section > dl > article > dt {
  margin-top: 2em;
  color: #424242;
  font-size: 1.5em;
  font-weight: bold;
}

main > section > dl > article > dd {
  margin-top: 0.5em;
}
