main {
  padding: 0 2em;
}

main > header {
  color: #424242;
  text-align: center;
}

main > header > h3 {
  font-size: 1.75em;
}

table {
  margin-top: 2em;
  box-shadow: 0 10px 5px 0 #20b2aa40;
  border: 1px solid #20b2aa40;
  border-collapse: collapse;
  background-color: #fafafa;
  width: 100%;
  transform: rotate(-2.5);
}

table > thead {
  border-radius: 10px;
}

table > thead > tr > th {
  padding: 1em;
  background-color: #20b2aa;
  color: #fff;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
}

table > thead > tr > th:first-child {
  text-align: center;
}

table > tbody > tr > td {
  padding: 0.5em;
  font-size: 1.25em;
  text-align: left;
}

table > tbody > tr > td[rowspan] {
  text-align: center;
  color: #212121;
  font-size: 1.25em;
  font-weight: bold;
}

table > tbody > tr > td > img {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  vertical-align: bottom;
}

main > section {
  margin: 4em 0;
}

main > section > dl > article {
  padding-left: 1.5em;
  border-left: 6px solid #20b2aa3f;
}
main > section > dl > article > dt {
  margin-top: 2em;
  color: #424242;
  font-size: 1.5em;
  font-weight: bold;
}

main > section > dl > article > dd {
  margin-top: 0.5em;
}

main > section > dl > article > dd > img {
  width: 32px;
  height: 32px;
  margin-right: 0.5em;
  vertical-align: bottom;
}

main > section > dl > article > dd > a {
  font-size: 1.25em;
}

main iframe {
  margin-top: 1em;
  width: 100%;
  height: 300px;
  border: 0;
}
